/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --font-lato: "Outfit", sans-serif;
  --black: #212121;
  --white: #ffffff;
  --black-pale: #393939;
  --blue: #5b8bd2;
  --white-pale: #fafafa;
  --gray: #dddddd;
  --black-10: #2121211a;
  --white-10: #ffffff1a;
  --white-40: #ffffffcc;
  --blue-strong: #2472ce;

  /* dark theme*/
  --black-blue: #303033;
  --black-blue-pale: #43434b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}

html {
  overflow-x: hidden;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

a,
button,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  outline: none;
  border: none;
}
