/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
  --font-lato: 'Outfit', sans-serif;
  --font-mono: 'Ubuntu Mono', monospace;
  --font-mono-two: 'JetBrains Mono', monospace;
  --black: #212121;
  --white: #ffffff;
  --black-pale: #393939;
  --blue: #5b8bd2;
  --white-pale: #fafafa;
  --gray: #dddddd;
  --black-10: #2121211a;
  --white-20: #ffffff33;
  --white-40: #ffffffcc;
  --blue-strong: #2472ce;
  --blue-sky: #2449ce;

  --black-30: #2121213c;
  --white-30: #ffffff4d;

  /* dark theme*/
  --black-blue: #303033;
  --black-blue-pale: #43434b;

  /* color for topics blog */
  --blue-brig: #2472ce;
  --purple-brig: #449aff;
  --pink-brig: #2447ce;
  --sky: #0477ff;

  /* color certificate */

  --blue-100: #1b59a4;
  --blue-75: #2472ce;
  --blue-50: #3994ff;
  --blue-25: #53a2ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato);
}

html {
  overflow-x: hidden;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

a,
button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
  outline: none;
  border: none;
}
* {
  scroll-behavior: smooth;
}
